<div class="mainDiv">
  <div class="centreDiv shadow-lg rounded">
    <div class="headingDiv">
      <h1 class="m-0">{{ heading }}</h1>
    </div>
    <div class="SignUpSignInDiv">
      <div *ngIf="signUpDiv">
        <app-sign-up-component
          (showSignInDiv)="showSignInDiv($event)"
        ></app-sign-up-component>
      </div>
      <div *ngIf="signInDiv">
        <app-sign-in-component
          (showSignUpDiv)="showSignUpDiv($event)"
        ></app-sign-in-component>
      </div>
    </div>
  </div>
</div>
